<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.praxis.staffy">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/lg_staffy"
        android:label="@string/app_name"
        android:roundIcon="@drawable/lg_staffy"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.managerFragment.activityViewXML.IndexView"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="9b6442e77aca24eec8ef060d1351bb29cc95be26" />

        <activity android:name=".ui.managerFragment.activityViewXML.MainClientActivity" />
        <activity
            android:name=".ui.managerFragment.activityViewXML.MainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ui.proyect.ContainerProyect"
            android:screenOrientation="nosensor" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainActivityPurse" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainActivityInterview" />
        <activity android:name=".ui.managerFragment.activityViewXML.ActivityConfiguration" />
        <activity android:name=".Splash_staffy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.managerFragment.activityViewXML.MainActivityFilter" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainRequiActivity" />
        <activity android:name=".ui.requests.editRequest.EditRequestView" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainVisitsActivity" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainViewProfileActivity" />
        <activity android:name=".ui.requests.AcitivityRequest" />
        <activity android:name=".ui.requests.ContainerRequest" />
        <activity android:name=".ui.managerFragment.activityViewXML.MainConsultorActivity"></activity>
    <activity android:name=".ui.managerFragment.activityViewXML.ContainerRetro"></activity>
    </application>

</manifest>